## .format() method

In [ ]:
time_horizon = 1, 3, 12
time_horizon

In [3]:
products = ['Product A', 'Product B']
products

['Product A', 'Product B']

In [6]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [7]:
'Expected sales for a period of {0} month(s) for {1}:'.format(time_horizon[2], products[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [8]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor = 12, prod = 'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [11]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}:'.format(t_hor = time_horizon, prod = products)

'Expected sales for a period of 12 month(s) for Product B:'

In [12]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}: ${sales}'.format(t_hor = time_horizon, prod = products, sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000'

## Iterating over range objects

In [13]:
t = (4,5,6,7)
t

(4, 5, 6, 7)

In [14]:
l = [10.5, 20.75, 30.00]
l

[10.5, 20.75, 30.0]

In [15]:
s = 'abcde'
s

'abcde'

In [16]:
for i in t:
    print (i, end = " ")

4 5 6 7

In [17]:
help('range')

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [18]:
range(5)

range(0, 5)

In [19]:
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

## Nested For loops

In [20]:
for i in range(2):
    print(i)

0
1

In [22]:
for j in range(5):
    print(j)

0
1
2
3
4

In [23]:
for i in range(2):
    for j in range(5):
        print(j)

0
1
2
3
4
0
1
2
3
4

In [24]:
for i in range(2):
    for j in range(5):
        print([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

In [25]:
for i in ['Product A', 'Product B']:
    for j in range(5):
        print([i,j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In [26]:
products = ['Product A', 'Product B']
exp_sales = [10000, 11000, 12000, 13000, 14000]

In [27]:
for i in products:
    for j in exp_sales:
        print([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product A', 13000]
['Product A', 14000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]
['Product B', 13000]
['Product B', 14000]

## Triple nested For loops

In [28]:
products = ['Product A', 'Product B']
exp_sales = [10000, 11000, 12000, 13000, 14000]

In [30]:
time_horizon = (1, 3, 12)

In [31]:
for i in products:
    for j in exp_sales:
        for k in time_horizon:
            print([i,j*k])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [32]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print([prod, sale*t_hor])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [36]:
for prod in products:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print("Expected sales for a period of {0} month(s) for {1}: ${sales}".format(t_hor, prod, sales = sale*t_hor))

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 12 month(s) for Product A: $120000
Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 12 month(s) for Product A: $132000
Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $144000
Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 12 month(s) for Product A: $156000
Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $168000
Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 12 month(s) for Product B: $120000
Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 12 month(s) for Product B: $132000
Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $144000
Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 12 month(s) for Product B: $156000
Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $168000

## List Comprehensions

In [37]:
numbers = [1, 13, 4, 5, 63, 100]
numbers

[1, 13, 4, 5, 63, 100]

In [38]:
new_numbers = []

for n in numbers:
    new_numbers.append(n*2)

print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [39]:
new_numbers = [n*2 for n in numbers]
print(new_numbers)

[2, 26, 8, 10, 126, 200]

In [40]:
for i in range(2):
    for j in range(5):
        print(i+j, end = " ")

0 1 2 3 4 1 2 3 4 5

In [41]:
new_list_comprehension_1 = [i + j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [42]:
type(new_list_comprehension_1)

list

In [44]:
new_list_comprehension_2 = [[i+j for i in range(2)] for j in range(5)]
new_list_comprehension_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [45]:
type(new_list_comprehension_2[1])

list

In [46]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [52]:
[num ** 3 for num in range(1,11) if num % 2 != 0]

[1, 27, 125, 343, 729]

In [53]:
for i in range(1,11):
    if i % 2 != 0:
        print(i ** 3, end = " ")

1 27 125 343 729

In [54]:
[num ** 3 if num % 2 != 0 for num in range(1,11)]

SyntaxError: expected 'else' after 'if' expression (1194612052.py, line 1)

In [55]:
[num ** 3 if num % 2 != 0 else "even" for num in range(1,11)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

In [108]:
products_on_sale = ['Chair_Type_1', 'Chair_Type_2', 'Chair_Type_3', 'Chair_Type_4']
sale_prices = [100, 120, 135, 150]
quantities = [1000, 1500, 1300]
sales_revenue = [prod +" "+ str(price*quantity) for prod in products_on_sale for price in sale_prices for quantity in quantities]
print(sales_revenue)

['Chair_Type_1 100000', 'Chair_Type_1 150000', 'Chair_Type_1 130000', 'Chair_Type_1 120000', 'Chair_Type_1 180000', 'Chair_Type_1 156000', 'Chair_Type_1 135000', 'Chair_Type_1 202500', 'Chair_Type_1 175500', 'Chair_Type_1 150000', 'Chair_Type_1 225000', 'Chair_Type_1 195000', 'Chair_Type_2 100000', 'Chair_Type_2 150000', 'Chair_Type_2 130000', 'Chair_Type_2 120000', 'Chair_Type_2 180000', 'Chair_Type_2 156000', 'Chair_Type_2 135000', 'Chair_Type_2 202500', 'Chair_Type_2 175500', 'Chair_Type_2 150000', 'Chair_Type_2 225000', 'Chair_Type_2 195000', 'Chair_Type_3 100000', 'Chair_Type_3 150000', 'Chair_Type_3 130000', 'Chair_Type_3 120000', 'Chair_Type_3 180000', 'Chair_Type_3 156000', 'Chair_Type_3 135000', 'Chair_Type_3 202500', 'Chair_Type_3 175500', 'Chair_Type_3 150000', 'Chair_Type_3 225000', 'Chair_Type_3 195000', 'Chair_Type_4 100000', 'Chair_Type_4 150000', 'Chair_Type_4 130000', 'Chair_Type_4 120000', 'Chair_Type_4 180000', 'Chair_Type_4 156000', 'Chair_Type_4 135000', 'Chair_Type_4 202500', 'Chair_Type_4 175500', 'Chair_Type_4 150000', 'Chair_Type_4 225000', 'Chair_Type_4 195000']

In [109]:
print([num * 10 for num in range(1,11) if num % 2 == 0])

[20, 40, 60, 80, 100]

In [114]:
print([num * 10 for num in range(2,11,2)])

[20, 40, 60, 80, 100]

In [112]:
for i in range(2,11,2):
    print(i*10)

2
4
6
8
10

## Lambda Functions in Python

In [115]:
def raise_to_the_power_of_2(x):
    return x ** 2

In [116]:
raise_to_the_power_of_2(3)

9

In [117]:
lambda x: x**2

In [118]:
raise_to_the_power_of_2_lambda = lambda x: x**2

In [119]:
raise_to_the_power_of_2_lambda(3)

9

In [120]:
(lambda x: x / 2) (11)

5.5

In [121]:
(lambda x: (2 + 5 * x ** 4) ** 2 / (x + 3) ** 3) (2)

53.792

In [122]:
sum_xy = lambda x, y: x + y
sum_xy(2,3)

5

In [123]:
sum_xy = lambda x, y: x + y(x)

In [124]:
sum_xy(2,3)

TypeError: 'int' object is not callable

In [125]:
sum_xy(2)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [126]:
sum_xy(2, lambda x: x*5)

12

## Introduction to pandas Series

In [1]:
import pandas as pd

In [2]:
products = ['A','B','C','D']

In [3]:
type(products)

list

In [4]:
product_categories = pd.Series(products)
product_categories

0    A
1    B
2    C
3    D
dtype: object

In [5]:
type(product_categories)

pandas.core.series.Series

In [6]:
daily_rates_dollars = pd.Series([40, 45, 50, 60])
daily_rates_dollars

0    40
1    45
2    50
3    60
dtype: int64

In [7]:
import numpy as np

In [11]:
array_a = np.array([10, 20, 30, 40, 50])
array_a

array([10, 20, 30, 40, 50])

In [12]:
type(array_a)

numpy.ndarray

In [13]:
series_a = pd.Series(array_a)
series_a

0    10
1    20
2    30
3    40
4    50
dtype: int32

## Using Methods in Python - Part 1

In [14]:
start_date_deposits = pd.Series({
    '7/4/2014'   : 2000,
    '1/2/2015'   : 2000,
    '12/8/2012'  : 1000,
    '2/20/2015'  : 2000,
    '10/28/2013' : 2000,
    '4/19/2015'  : 2000,
    '7/4/2016'   : 2000,
    '4/24/2014'  : 2000,
    '9/3/2015'   : 4000,
    '7/25/2016'  : 2000,
    '5/1/2014'   : 2000,
    '3/29/2013'  : 2000,
    '10/3/2014'  : 2000,
    '9/18/2015'  : 2500,
})

In [15]:
start_date_deposits

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64

In [16]:
start_date_deposits.sum

<bound method Series.sum of 7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
5/1/2014      2000
3/29/2013     2000
10/3/2014     2000
9/18/2015     2500
dtype: int64>

In [17]:
start_date_deposits.sum()

29500

In [18]:
start_date_deposits.min()

1000

In [19]:
start_date_deposits.max()

4000

In [20]:
start_date_deposits.idxmax()

'9/3/2015'

In [21]:
start_date_deposits.idxmin()

'12/8/2012'

## Using Methods in Python - Part 2

In [22]:
start_date_deposits.head()

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
dtype: int64

In [23]:
start_date_deposits.tail()

7/25/2016    2000
5/1/2014     2000
3/29/2013    2000
10/3/2014    2000
9/18/2015    2500
dtype: int64

In [24]:
start_date_deposits.head(3)

7/4/2014     2000
1/2/2015     2000
12/8/2012    1000
dtype: int64

In [25]:
start_date_deposits.head(10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

In [26]:
start_date_deposits.head(n=10)

7/4/2014      2000
1/2/2015      2000
12/8/2012     1000
2/20/2015     2000
10/28/2013    2000
4/19/2015     2000
7/4/2016      2000
4/24/2014     2000
9/3/2015      4000
7/25/2016     2000
dtype: int64

## pandas Series: .unique() & .nunique()

In [28]:
data = pd.read_csv('Location.csv')
location_data = data.copy()
location_data.head()

      Location
0   Location 3
1   Location 6
2   Location 8
3  Location 26
4  Location 34

In [29]:
type(location_data)

pandas.core.frame.DataFrame

In [30]:
location_data.describe()

           Location
count          1043
unique          296
top     Location 25
freq             31

In [31]:
len(location_data)

1043

In [32]:
location_data.nunique()

Location    296
dtype: int64

## pandas Series: .sort_values()

In [35]:
numbers = pd.Series([15, 1000, 23, 45, 444])
numbers

0      15
1    1000
2      23
3      45
4     444
dtype: int64

In [36]:
numbers.sort_values()

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [37]:
numbers.sort_values(ascending = True)

0      15
2      23
3      45
4     444
1    1000
dtype: int64

In [39]:
numbers.sort_values(ascending = False)

1    1000
4     444
3      45
2      23
0      15
dtype: int64

In [43]:
location_data.sort_values('Location')

        Location
637   Location 1
884   Location 1
465   Location 1
716  Location 10
623  Location 10
..           ...
482  Location 97
128  Location 97
669  Location 97
757  Location 98
372  Location 99

[1043 rows x 1 columns]

In [44]:
location_data.sort_values('Location', ascending = True)

        Location
637   Location 1
884   Location 1
465   Location 1
716  Location 10
623  Location 10
..           ...
482  Location 97
128  Location 97
669  Location 97
757  Location 98
372  Location 99

[1043 rows x 1 columns]

In [45]:
location_data.sort_values('Location', ascending = False)

        Location
372  Location 99
757  Location 98
128  Location 97
482  Location 97
271  Location 97
..           ...
202  Location 10
298  Location 10
637   Location 1
884   Location 1
465   Location 1

[1043 rows x 1 columns]

## A Revision to pandas DataFrames

In [46]:
array_a = np.array([[3,2,1],[6,3,2]])
array_a

array([[3, 2, 1],
       [6, 3, 2]])

In [47]:
pd.DataFrame(array_a)

   0  1  2
0  3  2  1
1  6  3  2

In [48]:
type(pd.DataFrame(array_a))

pandas.core.frame.DataFrame

In [49]:
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'])

In [50]:
df

   Column 1  Column 2  Column 3
0         3         2         1
1         6         3         2

In [54]:
df = pd.DataFrame(array_a, columns = ['Column 1', 'Column 2', 'Column 3'], index = ['Row 1', 'Row 2'])
df

       Column 1  Column 2  Column 3
Row 1         3         2         1
Row 2         6         3         2

In [55]:
data = pd.read_csv('Lending-company.csv', index_col = 'LoanID')
lending_co_data = data.copy()
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [56]:
type(lending_co_data)

pandas.core.frame.DataFrame

In [57]:
lending_co_data.index

Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
       ...
       1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
      dtype='int64', name='LoanID', length=1043)

In [58]:
type(lending_co_data.index)

pandas.core.indexes.base.Index

In [59]:
lending_co_data.columns

Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
       'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
       'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
      dtype='object')

In [60]:
lending_co_data.axes

[Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
        ...
        1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043],
       dtype='int64', name='LoanID', length=1043),
 Index(['StringID', 'Product', 'CustomerGender', 'Location', 'Region',
        'TotalPrice', 'StartDate', 'Deposit', 'DailyRate', 'TotalDaysYr',
        'AmtPaid36', 'AmtPaid60', 'AmtPaid360', 'LoanStatus'],
       dtype='object')]

In [61]:
lending_co_data.dtypes

StringID           object
Product            object
CustomerGender     object
Location           object
Region             object
TotalPrice        float64
StartDate          object
Deposit             int64
DailyRate           int64
TotalDaysYr         int64
AmtPaid36           int64
AmtPaid60           int64
AmtPaid360          int64
LoanStatus         object
dtype: object

In [62]:
lending_co_data.values

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [63]:
lending_co_data.to_numpy()

array([['LoanID_1', 'Product B', 'Female', ..., 4166, 14621, 'Active'],
       ['LoanID_2', 'Product D', 'Female', ..., 4096, 16041, 'Active'],
       ['LoanID_3', 'Product B', 'Male', ..., 3205, 16340, nan],
       ...,
       ['LoanID_1041', 'Product A', 'NotSpecified', ..., 5143, 16617,
        'Finished Payment'],
       ['LoanID_1042', 'Product B', 'Female', ..., 3462, 15617,
        'Finished Payment'],
       ['LoanID_1043', 'Product A', 'NotSpecified', ..., 4743, 16617,
        'Finished Payment']], dtype=object)

In [64]:
lending_co_data.shape

(1043, 14)

In [65]:
len(lending_co_data.columns)

14

## Data Selection in pandas DataFrames

In [66]:
lending_co_data.Product

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [67]:
lending_co_data.Location

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [70]:
lending_co_data['Product']

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [71]:
lending_co_data['Location']

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [72]:
lending_co_data['location']

KeyError: 'location'

In [73]:
type(lending_co_data['Location'])

pandas.core.series.Series

In [74]:
lending_co_data[['Location']]

           Location
LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
...             ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94

[1043 rows x 1 columns]

In [75]:
type(lending_co_data[['Location']])

pandas.core.frame.DataFrame

In [76]:
lending_co_data[['Location', 'Product']].head()

           Location    Product
LoanID
1        Location 3  Product B
2        Location 6  Product D
3        Location 8  Product B
4       Location 26  Product A
5       Location 34  Product B

In [77]:
prod_loc = ['Location', 'Product']
lending_co_data[prod_loc].head()

           Location    Product
LoanID
1        Location 3  Product B
2        Location 6  Product D
3        Location 8  Product B
4       Location 26  Product A
5       Location 34  Product B

In [78]:
lending_co_data['Location', 'Product']

KeyError: ('Location', 'Product')

## Data Selection - Indexing Data with .iloc[]

In [79]:
lending_co_data[1]

KeyError: 1

In [80]:
lending_co_data[0,1]

KeyError: (0, 1)

In [81]:
lending_co_data['Product']

LoanID
1       Product B
2       Product D
3       Product B
4       Product A
5       Product B
          ...
1039    Product B
1040    Product A
1041    Product A
1042    Product B
1043    Product A
Name: Product, Length: 1043, dtype: object

In [82]:
lending_co_data.iloc[1]

StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 2, dtype: object

In [83]:
lending_co_data.iloc[1, 3]

'Location 6'

In [84]:
lending_co_data.iloc[1,:]

StringID            LoanID_2
Product            Product D
CustomerGender        Female
Location          Location 6
Region              Region 6
TotalPrice               NaN
StartDate         02/01/2019
Deposit                 2200
DailyRate                 45
TotalDaysYr              365
AmtPaid36               3161
AmtPaid60               4096
AmtPaid360             16041
LoanStatus            Active
Name: 2, dtype: object

In [85]:
lending_co_data.iloc[:, 3]

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object

In [87]:
type(lending_co_data.iloc[1, 3])

str

In [88]:
type(lending_co_data.iloc[1, :])

pandas.core.series.Series

In [89]:
type(lending_co_data.iloc[:, 3])

pandas.core.series.Series

In [90]:
lending_co_data.iloc[[1, 3], :]

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active

In [92]:
lending_co_data.iloc[:, [3, 1]]

           Location    Product
LoanID
1        Location 3  Product B
2        Location 6  Product D
3        Location 8  Product B
4       Location 26  Product A
5       Location 34  Product B
...             ...        ...
1039    Location 73  Product B
1040    Location 82  Product A
1041    Location 11  Product A
1042    Location 26  Product B
1043    Location 94  Product A

[1043 rows x 2 columns]

## Data Selection - Indexing Data with .loc[]

In [93]:
lending_co_data.head()

,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
LoanID,,,,,,,,,,,,,,
1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [97]:
lending_co_data.loc[3]

StringID            LoanID_3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: 3, dtype: object

In [98]:
lending_co_data.loc[3, :]

StringID            LoanID_3
Product            Product B
CustomerGender          Male
Location          Location 8
Region              Region 3
TotalPrice           16600.0
StartDate         08/12/2016
Deposit                 1000
DailyRate                 45
TotalDaysYr              365
AmtPaid36               2260
AmtPaid60               3205
AmtPaid360             16340
LoanStatus               NaN
Name: 3, dtype: object

In [99]:
lending_co_data.loc[3, 'Region']

'Region 3'

In [100]:
lending_co_data.loc['Location']

KeyError: 'Location'

In [101]:
lending_co_data.loc[:, 'Location']

LoanID
1        Location 3
2        Location 6
3        Location 8
4       Location 26
5       Location 34
           ...
1039    Location 73
1040    Location 82
1041    Location 11
1042    Location 26
1043    Location 94
Name: Location, Length: 1043, dtype: object