![Two data scientists working on a dashboard.](hr-image-small.png)

A common problem when creating models to generate business value from data is that the datasets can be so large that it can take days for the model to generate predictions. Ensuring that your dataset is stored as efficiently as possible is crucial for allowing these models to run on a more reasonable timescale without having to reduce the size of the dataset.

You've been hired by a major online data science training provider called *Training Data Ltd.* to clean up one of their largest customer datasets. This dataset will eventually be used to predict whether their students are looking for a new job or not, information that they will then use to direct them to prospective recruiters.

You've been given access to `customer_train.csv`, which is a subset of their entire customer dataset, so you can create a proof-of-concept of a much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

In [17]:
# Import necessary libraries
import pandas as pd

# Load the dataset
ds_jobs = pd.read_csv("customer_train.csv")

# View the dataset
ds_jobs.head(10)
ds_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [18]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

# Start coding here. Use as many cells as you like!
ds_jobs_transformed['job_change'] = ds_jobs_transformed['job_change'].astype(bool)
ds_jobs_transformed['job_change'].head(10)

0     True
1    False
2    False
3     True
4    False
5     True
6    False
7     True
8     True
9    False
Name: job_change, dtype: bool

In [19]:
ds_jobs_transformed['relevant_experience'] = ds_jobs_transformed['relevant_experience']=='Has relevant experience'
ds_jobs_transformed['relevant_experience'].head(10)

0     True
1    False
2    False
3    False
4     True
5     True
6     True
7     True
8     True
9     True
Name: relevant_experience, dtype: bool

In [20]:
ds_jobs_transformed['student_id'] = ds_jobs_transformed['student_id'].astype('int32')
ds_jobs_transformed['training_hours'] = ds_jobs_transformed['training_hours'].astype('int32')
ds_jobs_transformed['city_development_index'] = ds_jobs_transformed['city_development_index'].astype('float16')

In [21]:
ds_jobs_transformed['gender'] = ds_jobs_transformed['gender'].astype('category')
ds_jobs_transformed['city'] = ds_jobs_transformed['city'].astype('category')
ds_jobs_transformed['major_discipline'] = ds_jobs_transformed['major_discipline'].astype('category')
ds_jobs_transformed['company_type'] = ds_jobs_transformed['company_type'].astype('category')
ds_jobs_transformed['enrolled_university'] = ds_jobs_transformed['enrolled_university'].astype('category')
ds_jobs_transformed['education_level'] = ds_jobs_transformed['education_level'].astype('category')

In [22]:
ds_jobs_transformed['experience'] = ds_jobs_transformed['experience'].astype('category')
ds_jobs_transformed['company_size'] = ds_jobs_transformed['company_size'].astype('category')
ds_jobs_transformed['last_new_job'] = ds_jobs_transformed['last_new_job'].astype('category')

In [23]:
ds_jobs_transformed['company_size'].cat.reorder_categories(new_categories=['<10', '10-49', '50-99', '100-499', '500-999', '1000-4999', '5000-9999', '10000+'], ordered = True, inplace = True)
ds_jobs_transformed['experience'].cat.reorder_categories(new_categories=['<1', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '>20'], ordered = True, inplace = True)
ds_jobs_transformed['last_new_job'].cat.reorder_categories(new_categories=['never', '1', '2', '3', '4', '>4'], ordered=True, inplace = True)
ds_jobs_transformed.head(15)

    student_id      city  ...  training_hours job_change
0         8949  city_103  ...              36       True
1        29725   city_40  ...              47      False
2        11561   city_21  ...              83      False
3        33241  city_115  ...              52       True
4          666  city_162  ...               8      False
5        21651  city_176  ...              24       True
6        28806  city_160  ...              24      False
7          402   city_46  ...              18       True
8        27107  city_103  ...              46       True
9          699  city_103  ...             123      False
10       29452   city_21  ...              32       True
11       23853  city_103  ...             108      False
12       25619   city_61  ...              23      False
13        5826   city_21  ...              24      False
14        8722   city_21  ...              26      False

[15 rows x 14 columns]

In [24]:
ds_jobs_transformed['enrolled_university'].cat.reorder_categories(new_categories=['no_enrollment', 'Part time course', 'Full time course'], ordered = True, inplace = True)
ds_jobs_transformed['education_level'].cat.reorder_categories(new_categories=['Primary School', 'High School', 'Graduate', 'Masters', 'Phd'], ordered = True, inplace = True)

In [25]:
ds_jobs_transformed = ds_jobs_transformed.loc[ds_jobs_transformed['company_size'] >= '1000-4999', :]
ds_jobs_transformed = ds_jobs_transformed.loc[ds_jobs_transformed['experience'] >= '10', :]
ds_jobs_transformed.head(15)

     student_id      city  ...  training_hours job_change
9           699  city_103  ...             123      False
12        25619   city_61  ...              23      False
31        22293  city_103  ...             141      False
34        26494   city_16  ...             145      False
40         2547  city_114  ...              14      False
47        25987  city_103  ...              52       True
104        1180   city_16  ...              52      False
108       25349   city_16  ...              28      False
115       20576   city_97  ...              19      False
130        3921   city_36  ...               4      False
144       24796  city_103  ...              15      False
146       22718  city_157  ...              47      False
154       12154   city_16  ...              55      False
157       28817   city_89  ...             141       True
159        7280  city_103  ...               6      False

[15 rows x 14 columns]

In [26]:
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2201 entries, 9 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2201 non-null   int32
 1   city                    2201 non-null   category
 2   city_development_index  2201 non-null   float16
 3   gender                  1821 non-null   category
 4   relevant_experience     2201 non-null   bool
 5   enrolled_university     2185 non-null   category
 6   education_level         2184 non-null   category
 7   major_discipline        2097 non-null   category
 8   experience              2201 non-null   category
 9   company_size            2201 non-null   category
 10  company_type            2144 non-null   category
 11  last_new_job            2184 non-null   category
 12  training_hours          2201 non-null   int32
 13  job_change              2201 non-null   bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 69.5 KB